@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #166534;
  --primary-light: #22c55e;
  --secondary: #854d0e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
